API_SECRET=apikey

DB_USER=user
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432
DB_NAME=mydb

RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

LOG_LEVEL=INFO